black==21.12b0
flake8==4.0.1
flax==0.3.6
jax[cuda11_cudnn82] -f https://storage.googleapis.com/jax-releases/jax_releases.html
opencv-python==4.5.5.62
Pillow==9.0.0
pytest==6.2.5
pyyaml==6.0
tensorboard==2.8.0
tensorflow==2.7.0
wandb==0.12.9
